/* BODY & CARD */

body {
    background-color: #D5E1EF;
}

.container,.image_container,.text_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* BORDER RADIUS */

.container,.image_container {
    border-radius: 15px;
}
/* CONTAINER & IMG */

.container {
    background-color: #fff;
    padding: 1em 0.4em;
}

.image_container img {
    border-radius: 15px;
    margin-top: 1em;
    width: 95%;
}
/* TITLE TEXT */

.title {
    color: #1F314F;
    font-weight: bold;
    font-size: 22px;
    width: 80%;
}

/* PARAGRAPH RESIZING */

p {
    color: #7D889E;
    width: 78%;
}

.title, p {
    text-align: center;
}
